
body {
  height: 100%;
  margin: 0;
  /* display: flex; 
  justify-content: center; 
  align-items: center;  */
  min-width: 320px;
  min-height: 100vh;
}
.contact-form{
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
;
}
.contact-form {
  border-radius: 10px;
  border-color: #007bff;
  /* display: flex; */
  max-width: auto;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(109, 7, 7, 0.1);
  font-family: Arial, sans-serif;
}

.heading {
  color: #007bff;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  /* justify-content: center; /*places content in center of page*/
  /* align-items: center;   */
}

.form-input {
  margin-bottom: 0.5rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  color: #000000;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  /* box-sizing: border-box; */
  transition: border-color 0.2s;
}

.input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 3px rgba(234, 2, 2, 0.1);
}

.textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  min-height: 100px;
  resize: vertical;
  font-family: Arial, sans-serif;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #0056b3;
}
  