:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(148, 66, 44, 0.87);
  background-color: #ffffff;
  border: 10px;
  border-radius: 5px;
  border-color: black;

}


